:host {
  display: block;
  min-height: 100dvh;
}

.area-conteudo {
  margin-left: var(--largura-sidebar);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1;
}

@media (max-width: 900px) {
  .area-conteudo {
    margin-left: 0;
  }
}
